<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deep Style AI</title>
    <link rel="stylesheet" type="text/css" href="static\css\home.css">
</head>

<body>
    <h1> Deep Style AI </h1>

    <div class="container">
        <form action="/personal_color" method="GET">
            <button type="submit">Personal Color</button>
        </form>

        <form action="/face_shape" method="GET">
            <button type="submit">Face Shape</button>
        </form>

        <form action="/body_shape" method="GET">
            <button type="submit">Body Shape</button>
        </form>
    </div>

    <script src="static\js\home.js"></script>
</body>

</html>